.principal{
    width: 100%;
    height: auto;
    background-color: var(--appColor);
    grid-area: C;
    .main{
        padding: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >div{
            background-color: transparent;
            height: auto ;
            h1{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .titles{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 30px;
            >div:nth-child(1){
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                padding: 10px;
            }
            >div{
                display: flex;
                flex-direction: row;
                gap: 2rem;
                height: 80%;
                .local,
                .phone{
                    height: 150px !important;
                }
            }
            .TelLocal{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                >div{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    background-color: white;
                    padding: .5rem;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.034), 0 6px 20px 0 rgba(0, 0, 0, 0.007);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    span{
                        font-size: 15px;
                        color: rgba(0, 0, 0, 0.651);
                        font-weight: 500;
                        svg{
                            fill: var(--buttonsColor);
                            font-size: 30px;
                        }
                    }
                }
            }

            .redes{
                display: flex;
                align-items: center;
                justify-content: center;
                >a{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    color: #000000c0;
                    gap: .5rem;
                    transition: 1s !important;
                    svg{
                        font-size: 20px;
                        color: var(--buttonsColor);
                    }
                }
            }
        }
        .message{
            height: 100%;
            width: 100%;
            border-radius: 20px;
            background-color: white;
            padding: 25px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.034), 0 6px 20px 0 rgba(0, 0, 0, 0.007);
            form{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                span{
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px;
                    width: 100%;
                    label{
                        width: 30%;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    input{
                        font-size: 15px;
                        font-weight: 500;
                        padding: 7px;
                        border: 1px solid #00000023;
                        border-radius: 5px;
                        outline: none;
                    }
                    textarea{
                        width: 100%;
                        height: 100px;
                        font-size: 15px;
                        border: 1px solid #00000023;
                        min-height: 100px;
                        min-width: 100%;
                        max-height: 100px;
                        border-radius: 5px;
                        outline: none;
                        padding: 10px;
                        color: rgba(0, 0, 0, 0.788);
                    }
                    button{
                        position: absolute;
                        right: 5px;
                        color: rgb(255, 255, 255);
                        font-size: 16px;
                        line-height: 28px;
                        padding: 3px 15px;
                        background-color: var(--buttonsColor);
                        border: 2px solid var(--buttonsColor);
                        border-radius: 5px;
                        cursor: pointer;
                        &:focus{
                            outline-color: var(--buttonsColor);
                        }
                        &:hover{
                            opacity: 0.9;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 900px){
    .main{
        flex-direction: column !important;
        flex-direction: column-reverse !important;
    }
}

@media screen and (max-width: 700px){
    .TelLocal{
        width: 100% !important;
        gap: .54em !important;
    }
}

@media screen and (max-width: 700px){
    .redes{
        transition: 1s !important;
        span{
            display: none;
        }
        >a{
            &:hover{
                span{
                    display: flex !important;
                }

            }
        }
    }
}

@media screen and (max-width: 500px){
    .main{
        padding: unset !important;
        .titles{
            padding: 30px 0px 0px 0px !important;
            margin-bottom: 10px;
        }
    }
    .TelLocal{
        flex-direction: column !important;
    }
}
