.principal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    div{
        width: 500px;
        height: auto;
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        z-index: 1060;
    }
}

@media screen and (max-width: 700px){
    .principal{
        
        div{
            width: 80% !important;
            height: auto;
        }
    }
}

@media screen and (max-width: 500px){
    .principal{
        
        div{
            width: 100% !important;
            height: auto;
        }
    }
}